{% extends 'home.html' %}
{% block content %}
<div class="row text-center">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Контакты:</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Номер телефона: {{ contact.contact }}</li>
                        <li>Почта: {{ contact.email }}</li>
                        <li>ИНН: {{ contact.inn }}</li>
                        <li>ОГРН: {{ contact.ogrn }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
